/* ========= ANIMACIONES ========= */

/* LOGIN - Secuencia del logo: aparece, se mantiene, se oculta y vuelve para el formulario */
@keyframes logoSequence {
    0% { opacity: 0; transform: scale(0.8); }
    15%, 45% { opacity: 1; transform: scale(1); }
    60%, 75% { opacity: 0; transform: scale(1); }
    85% { opacity: 1; transform: scale(1); }
}

/* LOGIN -Entrada suave del formulario de abajo hacia arriba */
@keyframes fadeInForm {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* PORTAFOLIO - Desvanece la tarjeta de bienvenida */
@keyframes fadeOutCard {
    to {
        opacity: 0;
        visibility: hidden;
    }
  }
  
  /* PORTAFOLIO - Secuencia del logo naranja: aparece, se mantiene y se va */
  @keyframes fadeInOutLogo {
    0% { opacity: 1; transform: scale(0.9); }
    25% { opacity: 1; transform: scale(1); } 
    75% { opacity: 1; transform: scale(1); } 
    100% { opacity: 0; transform: scale(1); } 
  }
  
  /* PORTAFOLIO - Finaliza la transición ocultando todo el protector para mostrar el Dashboard */
  @keyframes fadeOutWrapper {
    0% { opacity: 1; visibility: visible; }
    100% { 
        opacity: 0; 
        visibility: hidden; 
        pointer-events: none; /* Permite hacer clic en el contenido de abajo */
    }
  }


/* ========= DISEÑO RESPONSIVO (MÓVIL) ========= */
@media (max-width: 480px) {
    .login-container { 
        padding: 2rem; 
    }
    .logo-text { 
        font-size: 3rem; 
    }
}
